<%= render partial: "shared/business_location", locals: { :location => favorite.location } %>

<p><%= link_to 'View All Deals',
               profile_business_path(favorite.location.business, { :lid => favorite.location.id }) %></p>