<% if next_business %>

    <%= render partial: "shared/business_location", locals: { :location => location_deal.location } %>

    <p><%= link_to 'View All Deals',
                   profile_business_path(location_deal.location.business, { :lid => location_deal.location.id }) %></p>

<% end %>

<%= render partial: "shared/deal_snippet",
           locals: { :deal => location_deal.deal } %>
