<% if user_signed_in? %>
    <% unless favorite_exists(@favorite_locations, current_user, location, ajax_update) %>
        <%= link_to favorites_path(:location_id => location.id), remote: true, method: :post do %>
            <button>Add to Favorites</button>
        <% end %>
    <% else %>
        <%= link_to delete_favorite_path(location, current_user), remote: true, method: :delete do %>
            <button>Remove from Favorites</button>
        <% end %>
    <% end %>
<% end %>