<h4>Credit Card</h4>
<% if card.present? %>
    <p>Brand: <%= card.brand %></p>
    <p>Last 4 Digits: <%= card.last4 %></p>
    <p>Expiration: <%= "#{card.exp_month}/#{card.exp_year}" %></p>
<% else %>
    <p>We could not retrieve your card details at this time.</p>
<% end %>
