<h1>Payment</h1>

<%= render partial: "plan", locals: { :plan => @plan_details } %>
<%= link_to 'Change Plan', edit_plan_business_payment_path(@business, @payment) %>

<%= render partial: "card", locals: { :card => @card_details } %>
<%= link_to 'Update Card', edit_card_business_payment_path(@business, @payment) %>
